        <button id="G1" class="gold" onclick="seatCheck(1);">G1</button>
        <button id="G2" class="gold" onclick="seatCheck(2)">G2</button>
        <button id="G3" class="gold" onclick="seatCheck(3)">G3</button>
        <button id="G4" class="gold" onclick="seatCheck(4)">G4</button>
        <button id="G5" class="gold" onclick="seatCheck(5)">G5</button>        
        <button id="G6" class="gold" onclick="seatCheck(6)">G6</button>
        <button id="G7" class="gold" onclick="seatCheck(7)">G7</button>
        <button id="G8" class="gold" onclick="seatCheck(8)">G8</button>
        <button id="G9" class="gold" onclick="seatCheck(9)">G9</button>        
        <button id="G10" class="gold" onclick="seatCheck(10)">G10</button>
        <button id="G11" class="gold" onclick="seatCheck(11)">G11</button>
        <button id="G12" class="gold" onclick="seatCheck(12)">G12</button>
        <button id="G13" class="gold" onclick="seatCheck(13)">G13</button>        
        <button id="G14" class="gold" onclick="seatCheck(14)">G14</button>
        <button id="G15" class="gold" onclick="seatCheck(15)">G15</button>
        <button id="G16" class="gold" onclick="seatCheck(16)">G16</button>
        <button id="G17" class="gold" onclick="seatCheck(17)">G17</button>
        <button id="G18" class="gold" onclick="seatCheck(18)">G18</button>
        <button id="G19" class="gold" onclick="seatCheck(19)">G19</button>
        <button id="G20" class="gold" onclick="seatCheck(20)">G20</button>