<!DOCTYPE html>
<html>

<head>
    <title>MovieTime</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body onload="getList()">
    <div class="row" id="gold">


        {{>seats}}
        

    </div>

    <div id="pay">
        
        <a id="amount">Payable Amount : </a> 

        <form id="payform" method="post">
        <input id="price" type="text" name="price" style="border: none;margin:20px"></input>
        <button class="gold" type="submit">PAY</button>
        </form>

    </div>
    <script src="/socket.io/socket.io.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="js/backend.js"></script>
    <script src="js/function.js"></script>
    <script src="js/play.js"></script>
</body>

</html>