<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Payment GateWay</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body id="body">

    <div>
        <button id="conform" class="gold" onclick="conformm();disable();home()">Payment Successful</button>
        <button id="failed" class="goldF" onclick="failedd();disable();home()">Payment Failed</button>
        <p id="paymentPage"></p>

    </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/backend.js"></script>
        <script src="js/function.js"></script>
        <script>
            function disable(){
                document.getElementById('conform').disabled=true;
                document.getElementById('failed').disabled=true;

            }

            function home(){

                const myTimeout = setTimeout(change, 1000);
                function change(){
                    location.pathname = '/'
                }
            }
        </script>
</body>

</html>