<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Payment GateWay</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body id="body">

    <div>
        <button id="conform" class="gold" onclick="conformm()">Payment Successful</button>
        <button id="failed" class="goldF" onclick="failedd()">Payment Failed</button>

    </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/backend.js"></script>
        <script src="js/function.js"></script>
</body>

</html>